{% extends "account/email/base_message.html" %}
{% load account %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
        <div class="email-container">
                <p style="font-size: 16px; color: #333; margin-bottom: 20px;">
                    You're receiving this email because a password reset has been requested for your user account.
                    If you didn't make this request, you can safely ignore this email.
                    To reset your password, click the link below:
                </p>
                <a href="{{ password_reset_url }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: #fff; text-decoration: none; border-radius: 5px; font-size: 16px; margin-bottom: 20px;">Reset Password</a>

                {% if username %}
                    <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
                        In case you forgot, your username is {{ username }}.
                    </p>
                {% endif %}
            </div>
            
    {% endautoescape %}
{% endblock content %}
