<c-layout>
    <article>
        <header>
            <img width="100" height="100" src="{{ post.author.profile_image_url }}" alt="{{ post.author.username }}'s profile image" />

            <p>{{ post.author.name }} {% if post.author.verified %}(verified account){% endif %}</p>
            <p>Published on: {{ post.created_at|date:"Y-m-d H:i:s" }}</p>
            <p>Views: {{ post.views }}</p>
            <p>Likes: {{ post.likes.count }}</p>
            {% if post.tagged_accounts.exists %}
            <p>
                Tagged accounts: {% for account in post.tagged_accounts.all %}
                <a href="https://www.alloqet.com/{{ account.username }}" title="{{ account.name }}"> {{ account.name }} </a>
                {% if not forloop.last %}, {% endif %} {% endfor %}
            </p>
            {% endif %}
        </header>

        <section>
            <h1>{{ post.content }}</h1>
        </section>
        <h2>Comments</h2>

        {% if post.replies.exists %} {% for post in post.replies.all %}

        <c-post />

        {% endfor %} {% else %}
        <p>No comments</p>
        {% endif %}
        <a href="{{login_url}}">Login to comment on this status</a>
    </article>
</c-layout>
