{% load prerender %}
<article>
    <header>
        <c-account-card :account="post.author" />
        <p>Created on: {{ post.created_at|date:"Y-m-d H:i:s" }}</p>
        <p>Updated on: {{ post.updated_at|date:"Y-m-d H:i:s" }}</p>

        {% if post.tagged_accounts.exists %}
        <p>
            Tagged accounts: {% for account in post.tagged_accounts.all %}
            <a href="{% render_url 'pre_profile' account.username %}" title="{{ account.name }}"> {{ account.name }} </a>
            {% if not forloop.last %}, {% endif %} {% endfor %}
        </p>
        {% endif %}
    </header>
    <a href="{% render_url 'pre_post' post.id %}">
        <section>
            <p>{{ post.content }}</p>
        </section>
        <footer>
            <p>Views: {{ post.views }}</p>
            <p>Likes: {{ post.likes.count }}</p>
        </footer>
    </a>
</article>
<hr />
