
{% extends 'emails/base.html' %} 
{% block content %}

<p>Hello from {{PLATFORM_NAME}},</p>

<p>We’ve received a request to reset the password for the account associated with the email address: <strong>{{ email }}</strong>.</p>

<p>If you didn’t request this, you can safely ignore this email. However, if you’re concerned about the security of your account, please contact our support team immediately.</p>

<p>To reset your password, please follow the instructions below:</p>
<ul style="padding-left: 20px">
    <li>Enter the reset code provided below exactly as shown.</li>
    <li>The code is valid for a limited time, so be sure to use it promptly.</li>
    <li>For your security, do not share this code with anyone.</li>
</ul>

<div style="margin-top: 20px">
    <p style="font-size: 1.1rem"><strong>Email Address:</strong> {{ email }}</p>
    <p style="font-size: 1.1rem"><strong>Reset Code:</strong> {{ code }}</p>
</div>

<p>Thank you for choosing {{PLATFORM_NAME}}.</p>

{% endblock %}
