{% extends 'emails/base.html' %} {% block content %}
<div>
    <p>Hello;</p>

    <p>We hope this message finds you well. This is to confirm that you have requested to verify your email address with {{PLATFORM_NAME}}</p>

    <p>Your Verification Code: <span class="code">{{ code }}</span></p>

    <p>This code is valid for the next {{timespan}} minutes. Please enter it promptly to complete your verification process. For your security, do not share this code with anyone. If you did not request this verification, you may disregard this email.</p>
</div>
{% endblock %}
